# The joint state controller handles publishing transforms for any moving joints
deedee:
  joint_state_publisher:
    type: "joint_state_controller/JointStateController"
    publish_rate: 50

  left_wheel_driver:
    type: "velocity_controllers/JointVelocityController"
    joint: left_wheel_joint
    pid:
      p: 20.0

  right_wheel_driver:
    type: "velocity_controllers/JointVelocityController"
    joint: right_wheel_joint
    pid:
      p: 20.0
