<launch>
  <include file="$(find deedee_gazebo)/launch/gazebo.launch">
    <arg name="z" value="0.25" />
  </include>

  <rosparam command="load"
            file="$(find deedee_gazebo)/config/joints.yaml"
            ns="deedee_joint_state_controller" />

  <rosparam command="load"
            file="$(find deedee_gazebo)/config/left_wheel.yaml"
            ns="deedee_left_wheel_controller" />

  <rosparam command="load"
            file="$(find deedee_gazebo)/config/right_wheel.yaml"
            ns="deedee_right_wheel_controller" />

  <node name="deedee_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="deedee_joint_state_controller
              deedee_left_wheel_controller
              deedee_right_wheel_controller
              --shutdown-timeout 3"/>
</launch>
