<launch>

  <arg name="robot_name" default="deedee"/>
  <arg name="model" default="$(find deedee_description)/urdf/deedee.xacro"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -urdf
              -model robot
              -param robot_description"
        respawn="false"
        output="screen"
  />

  <rosparam command="load" file="$(find deedee_gazebo)/config/joints.yaml"/>

  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        ns="$(arg robot_name)"
        args="joint_state_publisher
              left_wheel_driver
              right_wheel_driver
              --shutdown-timeout 3"
  />

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
  </node>

</launch>
