<launch>
  <rosparam command="load"
            file="$(find deedee_tutorials)/config/plant.yaml"
  />

  <node name="main_launcher"
        pkg="deedee_tutorials"
        type="main_launcher"
        output="screen"
  />

  <node name="web_launcher"
        pkg="deedee_tutorials"
        type="web_launcher"
  />
</launch>
