<launch>
  <include file="$(find deedee_gazebo)/launch/deedee.launch"/>

  <node name="deedee_driver"
        pkg="robot_control"
        type="deedee_driver"
        required="false"/>

  <node name="diffdrive_model"
        pkg="robot_control"
        type="diffdrive_model"
        required="false"/>

  <node name="controller"
        pkg="robot_control"
        type="controller"
        output="screen"
        required="false"/>

  <!--node name="teleops_node"
        pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard"
        required="false"/-->

</launch>
